body {
    background-color: #224F6E;
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
}

.topnav {
    background-color: #D64441;
    overflow: hidden;
    position: fixed;
    height: 4em;
    width: 100%;
    top: 0;
}

.topnav a {
    color: #1E3259;
    font-size: 2em;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}

.topnav a:hover {
    text-shadow: 0px 0px 5px white;
}

a.active {
    text-shadow: 0px 0px 10px white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 7em;
    padding: 1em;
    background-color: rbga(214, 68, 65, 0.4);
}

h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

h5 {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

a {
    color: #d64441;
}

.profile {
    width:40%;
    padding: 10px;
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.profile img{
    width: auto;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.quote {
    border: 3px dotted #d64441;
    color: white;
    text-align: center;
    padding: 1em;
}