body {
    background-color: #224F6E;
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
}

.topnav {
    background-color: #D64441;
    overflow: hidden;
    position: fixed;
    height: 4em;
    width: 100%;
    top: 0;
}

.topnav a {
    color: #1E3259;
    font-size: 2em;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}

.topnav a:hover {
    text-shadow: 0px 0px 5px white;
}

a.active {
    text-shadow: 0px 0px 10px white;
}

.intro {
    background-image: url("HeaderImage.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    font-size: 7em;
    padding: 1em;
    background-color: rbga(214, 68, 65, 0.4);
}

h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

h5 {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

a {
    color: #d64441;
}

.item {
    border: 2px solid white;
    width: 300px;
    height: auto;
    justify-items: center;
    align-items: start;
}

.itemthumb {
    width: 200px;
    height: 200px;
    display: block;
    justify-self: center;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    justify-content: center;
    align-content: start;
    gap: 20px;
}

#minimalnye {
    background-image: url(store/minimalnye.jpeg);
}

#minimalnye:hover {
    background-image: url(store/minimalnye.gif);
}

@media only screen and (max-width: 600px) {
    .catalog {
        grid-template-columns: 400px;
    }
}